*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.navbar{
    background-image: linear-gradient(to right,#0C7C44,#084625);
}

.navbar-brand{
    color: #fff;
}

.navbar a:hover{
    color: #fff !important;
}

#hero{
    background-image: linear-gradient(to right,#0C7C44,#084625);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}   

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

#about, #footer, #hero, .section-title {
    position: relative;
}

.main-hero-content h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.title-h1 {
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.main-hero-content p {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-white {
    border: 2px solid #fff;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-outline-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #0d6efd;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

.text-center {
    text-align: center!important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

.d-flex {
    display: flex!important;
}

#about {
    padding-bottom: 3rem;
}

#about .justify-content-center {
    justify-content: center!important;
    text-align: center;
}
#about i {
    color: #1b396a;
    font-size: 55px;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

#features {
    background-color: #fafafa;
    padding-bottom: 4rem;
    margin-top: 3rem;
}

.justify-content-center {
    justify-content: center!important;
}

h2.section-title-heading {
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

#features i {
    color: #1b396a;
    font-size: 35px;
}

.w-100 {
    width: 100%!important;
}

#about h3, #features .feature-block h3 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#features img {
    display: block;
    margin: 0 auto;
}
.survey-image {
    width: 200px;
    height: 300px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.d-flex {
    display: flex!important;
}

#footer {
    background-color: #2b323f;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 30px;
}

.align-items-center {
    align-items: center!important;
}

.flex-column {
    flex-direction: column!important;
}

.d-flex {
    display: flex!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#footer .social-icons {
    margin-top: .5rem;
}

.text-light {
    color: #f8f9fa!important;
}

#footer .social-icons a {
    margin-right: 10px;
    color: #fff;
}

.text-decoration-none {
    text-decoration: none!important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.text-center {
    text-align: center!important;
}

.copyright p {
    margin-top: 1rem;
    color: #fff;
    font-size: .9rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}